/* STARTUP SCREEN */
body {
    margin: 0;
    background: black;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: background-image 1s, opacity 1s;
}

.popup {
    background: black;
    width: 350px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 0;
    color: white;
    text-align: center;
    animation: fadeIn 0.8s ease-out;
    z-index: 10;
    position: relative;
}

.popup h1 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: white;
}

button {
    background: white;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color .2s, transform .2s;
}

button:hover {
    background: grey;
    transform: scale(1.05);
}

/* DESKTOP SCREEN */
.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
    z-index: 0;
}

.desktop {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-auto-flow: column;
    grid-gap: 30px;
    justify-content: start;
    padding-left: 50px;
    align-items: start;
    position: absolute;
    top: 50px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    pointer-events: none;
    z-index: 5;
}
/* DESKTOP APPS */
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon img {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.icon p {
    margin: 0;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

.icon:hover {
    transform: scale(1.1);
}
/* EMAIL APP */

.email-popup {
    width: 60%;
    height: 70%;
    background: white;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.email-header {
    background: #f2f6fc;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
}

.email-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.email-label {
    width: 70px;
    font-weight: bold;
}

.email-row input {
    flex-grow: 1;
    border: none;
    background: none;
}

.email-body {
    flex-grow: 1;
    padding: 10px;
    background: #fff;
    border-top: none;
    pointer-events: none;
}

/* PHOTO APP */
.photo-popup {
    width: 90%;
    height: 90%;
    background: #333;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; /* find out what font microsoft file explorer uses + background color */
    overflow: hidden;
}
.photo-header {
    background: black;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
}

.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 125px);
    grid-auto-flow: column;
    gap: 30px;
    padding: 5px;
    justify-items: start;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.photo-folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.photo-folder img {
    width: 120px;
    height: 120px;
}

.photo-folder p {
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
}

.photo-folder:hover {
    transform: scale(1.1);
}

/* GENERAL */
.close-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.icon-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: none;
}

.icon-overlay > div{
    pointer-events: auto;
}

.photo-preview-overlay {
    position: absolute;
    inset: 0;
    background: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
    pointer-events: all;
}

.photo-preview {
    display: flex;
    align-items: center;
}

.preview-image {
    width: 260px;
    height: auto;
    transform: rotate(-10deg);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    border-radius: 6px;
    z-index: 1;
}

.preview-letter {
    background: #f9f9f9;
    padding:30px;
    width: 180px;
    min-height: 250px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -40px;
    border-radius: 6px;
    z-index: 2;
}

.preview-text {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}

.preview-close {
    align-self: flex-end;
    padding: 8px 14px;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}